// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-name {
  width: 10%
}

.row-actions {
  width: auto;
}
