// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row-name {
  width: 7%;
}

.row-members-only {
  width: 7%
}

.row-description {
  width: auto;
}
